Name: 1

Participating actors: User, 2

Goal: Successfully login to account.

Triggers: App is launched

Precondition:
* User is present to login 
* App successfully launches

Postcondition: User successfully logged in.

Basic flow:
1. System launches
2. System prompts user to enter username 
3. User enters username
4. System prompts user to enter password
5. User enters password
6. System prompts user to login
7. User logs in
8. System authenticates the user’s account

Alternate flow:
1. System launches
2. System prompts user to enter username 
3. User enters username
4. System prompts user to enter password
5. User enters password
6. System prompts user to login
7. User logs in
8. System does not recognize the user’s account
9. System prompts user to create account
10. User creates an account.

Exception:
- Information requirements when logging in is incorrect.
(i.e. missing information or not recognized)

Qualities: NONE

Relevant Artifacts: NONE






Name: 2

Participating actors: User, 1

Goal: Successfully create an account for user

Triggers: User requests to create an account

Precondition: Create account option is present on login page

Postcondition: User successfully creates an account

Basic flow:
1. The system prompts the user to enter first and last name, 
2. User enters their first and last name
3. System prompts user to enter username
4. User enters username
5. System prompts user to enter phone number
6. User enters phone number
7. System prompts user to enter password
8. User enters password
9. System prompts user to login
10. User then logins in.

Alternate flow:
1. The system prompts the user to enter first and last name, 
2. User enters their first and last name
3. System prompts user to enter username
4. User enters username
5. System prompts user to enter phone number
6. User enters phone number
7. System prompts user to enter password.
8. User enters password.
9. System prompts user to login
10. User then logins in
11. System finds username already exist
12. System then prompts user to enter a new Username
13. User then enters a new Username
14. System prompts user to login
15. User then logs in

Exception:
- Information requirements when creating an account is incorrect. 
(i.e. missing information)
- Username is not unique

Qualities: NONE

Relevant Artifacts: US 03.01.01, US 03.02.01






Name: 3

Participating actors: User, 1, 2, 4, 6, 8, 19

Goal: View homepage options and view their account information

Triggers: User login or create account occurs

Precondition: User is successfully logged in.

Postcondition: User selects one of the homepage options.

Basic flow:
1. System displays the homepage options.
2. System prompts user to either Find a code or post a code
3. User then selects find a code

Alternate flow:
1. System displays homepage options
2. System prompts user to either Find a code or Share a code
3. User then Selects Share a home

Exception:
- User contact information is not shown on the homepage.
- User selects a homepage option and nothing occurs

Qualities: NONE

Relevant Artifacts: US 03.03.01






Name: 4

Participating actors: User, 3

Goal: Show user profile with their account content 

Triggers: User selects on profile menu button.

Precondition: User must have an account

Postcondition: User is shown their account information.

Basic flow:
1. System displays the user’s account information
2. User then views their account information

Alternate flow: NONE

Exception: 
- User is missing information on their user account.

Qualities: NONE

Relevant Artifacts: US 03.03.01





Name: 5

Participating actors: User, 5

Goal: Show user profile with the updated account content 

Triggers: User selects an available field to edit.

Precondition: User must have an account

Postcondition: User is shown their updated account information.

Basic flow:
1. System allows user to view their information
2. User then views their account information
3. System allows user to edit their contact information
4. User edits their contact information
5. System displays the user’s updated account information

Alternate flow: NONE

Exception:
- User is missing information on their user account.
- User is not able to edit their contact information.

Qualities: NONE

Relevant Artifacts: US 03.02.01 US 03.03.01






Name: 6

Participating actors: User, 3, 4, 7, 8, 9, 11, 19

Goal: Allow the user to view their task. 

Triggers: User selects on Task menu button.

Precondition: Homepage successfully loaded or User profile successfully loaded

Postcondition: User is shown their tasks successfully.

Basic flow: 
1. System displays the tasks to the user
2. User then views their tasks

Alternate flow: NONE

Exception: User’s Tasks do not show correctly.

Qualities: NONE

Relevant Artifacts: US 02.01.01, US 01.02.01





Name: 7

Participating actors: User, 4, 6, 8, 9, 11, 19

Goal: Allow the user to select from their task. 

Triggers: User selects on Task menu button.

Precondition: Homepage successfully loaded or User profile successfully loaded

Postcondition: User is shown their tasks successfully, with tasks that have at least one bid shown first from the top down.

Basic flow:
1. System prompts user to view their tasks.
2. User then views their tasks. 
3. System allows user to select from their tasks.
4. User selects on a certain task
5. System displays the options available to the user. 
6. User selects an option. 
7. System then carries out option selected by the user

Alternate flow: NONE

Exception: 
- User’s Tasks do not show correctly.
- User selects a task option and nothing happens.

Qualities: NONE

Relevant Artifacts: US 02.01.01, US 01.02.01, US 05.04.01






Name: 8

Participating actors: UserR, 3, 6, 21, 26

Goal: Successfully add new task

Triggers: UserR selects the add task button on the Task Page or on the Home Page

Precondition: UserR requested to add a task.

Postcondition: The UserR adds their new task.

Basic flow:
1. System prompts UserR to enter the required and optional information for their new task. 
2. UserR then enters information.
3. System prompts UserR to add the task 
4. Task status is set to “requested”.

Alternate flow:
1. System prompts UserR to enter the information required for their new task. 
2. UserR then clicks on the cancel task button.
3. System returns UserR back to the Task page.

Exception:
- Information requirements in adding a task is missing
- Task is not added successfully
- Click on the add task button and nothing occurs.
- Click on the add task button something unexpected occurs (i.e. takes you to the user profile)
- Task title is longer than 30 characters.
- Task description is more than 300 characters.

Qualities: NONE

Relevant Artifacts: US 01.01.01, US 01.01.02, US 01.01.03, US 02.02.01, US 08.01.01





Name: 9

Participating actors: UserR, 6, 7, 10, 20

Goal: Allow the UserR to view task information

Triggers: UserR selects on tasks from the requested task list

Precondition: Tasks page successfully loaded and UserR can select on tasks

Postcondition: UserR is shown task information.

Basic flow: 
1. System displays the tasks to the user, with its task provider username, title, status, and accepted bid.
2. UserR then views their tasks

Alternate flow:
1. System displays the tasks to the UserR
2. UserR then views their tasks
3. UserR then selects on location
4. System Views location on a map

Exception:
- UserR’s Tasks do not show correctly.
- UserR cannot select location on task description

Qualities: NONE

Relevant Artifacts: US 02.01.01, US 05.05.01, US 06.02.01, US 09.02.01, US 10.02.01, US 10.03.01






Name: 10

Participating actors: UserR, 6, 7, 9, 16, 17, 22, 26, 27

Goal: Allow the UserR to edit task information

Triggers: UserR selects on tasks from the requested task list.

Precondition: Tasks page successfully loaded, UserR can select on tasks, and the task has not been bidded on yet

Postcondition: UserR’s is shown task information.

Basic flow:
1. System displays the tasks to the UserR
2. UserR then views their tasks

Alternate flow:
1. System displays the tasks to the UserR
2. UserR then views their tasks
3. UserR then selects on location
4. System Views location on a map

Exception:
- UserR’s Tasks do not show correctly.
- UserR cannot select location on task description

Qualities: NONE

Relevant Artifacts: US 01.03.01, US 08.01.01






Name: 11

Participating actors: UserP, 6, 7, 19, 20

Goal: Allow the UserP to view task information

Triggers: UserP selects on tasks under Tasks provided

Precondition: Tasks page successfully loaded and UserP can select on tasks

Postcondition: UserP’s is shown task information

Basic flow:
1. System displays task description to the UserP
2. UserP then views their tasks with task requester username, title, status, lowest bid so far, and my bid.

Alternate flow:
1. System displays task description to the UserP
2. UserP then views their tasks
3. UserP selects location
4. System Views location on maps

Exception:
- UserP’s Tasks information does not load correctly
- UserP is selects location and nothing occurs

Qualities: NONE

Relevant Artifacts: US 02.01.01, US 05.02.01, US 06.01.01





Name: 12

Participating actors: UserP, 6, 11, 19

Goal: Update status of a Task

Triggers: UserP makes a bid on a task 

Precondition: Search page has tasks to bid on and task status is “requested”

Postcondition: Status of a task is updated.

Basic flow: 
1. System prompts UserP to bid on a task
2. UserP selects on the bid option
3. System displays the tasks to UserP
4. UserP then views the tasks 
5. System prompts UserP to enter a bid amount
6. UserP then enters a bid amount
7. System then changes status of the task from “requested” to “bidded”

Alternate flow: NONE

Exception: 
-  UserP enters an incorrect bid amount (Ex. “$-12”)
- System does not update status to “bidded”

Qualities: NONE

Relevant Artifacts: US 05.01.01, US 02.02.01






Name: 13

Participating actors: UserR, 6, 9,16, 17, 18

Goal: Update Status of a task

Triggers: UserR accepts a bid for one of their tasks.

Precondition: Bids on the task must exist. (Task status is “bidded”)

Postcondition: UserR’s task status is updated.

Basic flow:
1. System prompts UserR to accept a bid or decline a bid
2. UserR then accepts bid
3. System then removes all other bids except the selected bid
4. System then updates status to “assigned”

Alternate flow: None

Exception:
1. UserR selects on accept bid and other bids are not removed
2. UserR selects on accept bid and status does not update to assigned

Qualities: NONE

Relevant Artifacts: US 05.06.01, US 02.02.01






Name: 14

Participating actors: UserR, 6, 10

Goal: Update Status of a task

Triggers: UserR task is completed.

Precondition: UserR’s task status is “assigned”.

Postcondition: UserR’s task status is updated.

Basic flow:
1. System prompts UserR to edit task details
2. UserR then edits tasks detail
3. System prompts UserR to change status
4. UserR changes status to “done”
5. System then updates status

Alternate flow: None

Exception: UserR changes status to “done” but no update to status occurs

Qualities: NONE

Relevant Artifacts: US 07.01.01, US 02.02.01






Name: 15

Participating actors: UserR, 6, 9

Goal: Update Status of a task

Triggers: UserR task is not completed.

Precondition: UserR’s task status is “assigned”.

Postcondition: UserR’s task status is updated.

Basic flow:
1. System prompts UserR to edit task details
2. UserR then edits tasks detail
3. System prompts UserR to change status
4. UserR changes status to “requested” 
5. System then updates status 

Alternate flow: None

Exception: UserR changes status to “requested” but no update to status occurs

Relevant Artifacts: US 07.02.01






Name: 16

Participating actors: UserR, 6, 9, 17

Goal: Accept a bid for a task

Triggers: UserR selects accept bid 

Precondition: View Requested Tasks loaded successfully

Postcondition: UserR accepts a bid for a task

Basic flow: 
1. System prompts UserR to accept a bid
2. UserR then accepts bid
3. System then removes all other bids except the selected bid

Alternate flow: NONE

Exception: UserR cannot accept a bid

Qualities: NONE

Relevant Artifacts: US 05.06.01





Name: 17

Participating actors: UserR, 6, 9, 16

Goal: Update Status of a task

Triggers: UserR declines a bid for one of their tasks.

Precondition: View Requested Tasks loaded successfully, allowing UserR to decline a bid

Postcondition: UserR task status is updated.

Basic flow:
1. System prompts user to decline a bid
2. UserR then declines bid
3. System then removes the declined bid

Alternate flow: None

Exception: UserR selects decline bid and bid is not removed from list of bids

Qualities: NONE

Relevant Artifacts: US 05.07.01





Name: 18

Participating actors: UserR, 6, 9, 16

Goal: Delete other bids for a certain task

Triggers: UserR accepts a bid for a task

Precondition: UserR accepted a bid 

Postcondition: Other bids are deleted after UserR accepts a bid.

Basic flow:
1. System prompts UserR to accept a bid
2. UserR then accepts bid
3. System then removes all other bids except the selected bid

Alternate flow: None

Exception: Other bids are not removed when UserR selects on accept bid.

Qualities: NONE

Relevant Artifacts: US 05.06.01






Name: 19

Participating actors: UserP, 4, 6, 11, 12, 20

Goal: Allow UserP to search for tasks.

Triggers: UserP selects on the search menu button.

Precondition: Search menu button is available for user.

Postcondition: UserP searches for tasks.

Basic flow:
1. The system displays the search menu button.
2. UserP clicks on the search menu button. 
3. System prompts UserP to enter keywords to be searched
4. UserP enters keywords
5. The system displays the task with task requester username, title, status, lowest bid so far (if any).

Alternate flow: None

Exception:
- The combination of the keywords the UserP is searching for does not exist.
- The details of a task are not viewable
(i.e. task requesters username, title, status, and lowest bid)

Qualities: NONE

Relevant Artifacts: US 04.01.01, US 04.02.01





Name: 20

Participating actors: User, 8, 9, 11

Goal: View location of a certain task.

Triggers: User selects the location of a task.

Precondition: User has added a task or is currently adding a task.

Postcondition: User successfully views the location of a certain task.

Basic flow:
1. System displays tasks. 
2. User selects a task.
3. System prompts the user to view location of a task
4. User then views the location of the task

Alternate flow:  None

Exception: Could not display the location of the task.

Qualities: NONE

Relevant Artifacts: US 10.02.01





Name: 21

Participating actors: UserR, 8

Goal: Add location to a certain task.

Triggers: UserR selects the location of a task

Precondition: UserR is adding a task.

Postcondition: UserR successfully adds the location of a certain task.

Basic flow:
1. System displays the task’s detail. 
2. System prompts UserR to add a location to their task
3. UserR adds a location to their task

Alternate flow: None

Exception: Could not add a location to their task

Qualities: NONE

Relevant Artifacts: US 10.01.01






Name: 22

Participating actors: UserR, 10, 20

Goal: Edit location of a certain task.

Triggers: UserR selects the location of a task

Precondition: UserR is editing a task.

Postcondition: UserR successfully edits the location of a certain task.

Basic flow:
1. System displays the task’s detail. 
2. System allows UserR to change the location of a certain task
3. UserR changes the location of their task

Alternate flow: None

Exception
- Could not display the location of the task.
- Could not edit the location of their task

Qualities:  NONE

Relevant Artifacts: US 10.01.01





Name: 23

Participating actors: UserP, 4, 9, 11, 19

Goal: Notify UserR of a bid

Triggers: UserP bids on a task

Precondition: Task is bidded on by UserP

Postcondition: UserR is successfully notified of the bid.

Basic flow:
1. System displays bid options to UserP
2. UserP then bids on a task. 
3. System notifies UserR of task their task being bidded on

Alternate flow: None

Exception: 
- UserR notified when there is no bid
- UserR not notified when there is a bid

Qualities: NONE

Relevant Artifacts: US 05.03.01






Name: 24

Participating actors: User, 4, 6, 19

Goal: Successfully retrieve and see the contact information of a username.

Triggers: User selecting on a username.

Precondition: Existence of a username for the user to select.

Postcondition: Successfully retrieve and see the contact information of a username.

Basic flow:
1. System displays a username. 
2. User selects the username
3. System allows user to view the contact information corresponding to that user

Alternate flow: NONE

Exception: User selects on a username but the contact information corresponding to the username is not shown.

Qualities: NONE

Relevant Artifacts: US 03.03.01





Name: 25

Participating actors: UserR, 4, 6, 8

Goal: Allow UserR’s offline changes to tasks, to be displayed when they regain connectivity.

Triggers: Network regains connectivity

Precondition: Losing network connectivity

Postcondition: UserR’s offline changes to the tasks are displayed once they regain connectivity.

Basic flow:
While offline, 
1. System launches and displays UserR’s Tasks
2. UserR requests to adds a task
3. System then updates the task list when they regain connectivity

Alternate flow:
While offline, 
1. System launches and displays UserR’s Tasks
2. UserR requests to edit their tasks
3. System then updates the task list when they regain connectivity

Exception: Could not update changes when UserR regains connectivity.

Qualities: NONE

Relevant Artifacts: US 08.01.01





Name: 26

Participating actors: UserR, 8, 10

Goal: Allow UserR to add a photograph to their task.

Triggers: UserR creates a task.

Precondition: UserR is currently adding a new task.

Postcondition: UserR successfully now has a photograph attached to their task.

Basic flow:
1. System prompts UserR to add a task
2. UserR attaches a photograph to their task. 
3. The system displays UserR’s task with the photograph attached to it.

Alternate flow: NONE

Exception: The photograph is not viewable after being added to the task.

Qualities: Each Photograph should be under 65536 bytes

Relevant Artifacts: US 09.01.01




Name: 27

Participating actors: UserR, 8, 10

Goal: Allow UserR to delete a photograph to their task.

Triggers: UserR editing a task.

Precondition: UserR is currently editing a task

Postcondition: UserR successfully deleted a photograph from a task.

Basic flow:
1. System prompts UserR to edit a task
2. UserR then edits the task
3. System allows UserR to delete a photograph from a Task
4. UserR deletes a photograph from that task 
5. The system displays UserR’s task with the specific photograph deleted

Alternate flow: None

Exception: The photograph is still viewable after being deleted 

Qualities: Each Photograph should be under 65536 bytes

Relevant Artifacts: US 09.02.01 US 09.03.01





Name: 28

Participating actors: UserR, 6, 7, 9, 10

Goal: Successfully delete existing task

Triggers: UserR selects the delete button on the View Task Page

Precondition: There is an existing task.

Postcondition: UserR deletes an existing task.

Basic flow:
1. UserR selects an existing task. 
2. System displays the details of the existing task in the View Task page.
3. UserR selects the delete button.
4. System displays a confirmation pop-up
5. UserR selects “Yes”
6. Task is deleted.

Alternate flow:
1. UserR selects an existing task. 
2. System displays the details of the existing task in the View Task page.
3. UserR selects the delete button.
4. System displays a confirmation pop-up.
5. UserR selects “No”.
6. Task is not deleted.

Exception:
- There are no existing tasks.
- Task is not removed successfully

Qualities: NONE

Relevant Artifacts: US 01.04.01
